Body {font-size: 14; background-image: URL(/wordwarrior/word/wordback.jpg); background-color :#fffff0; margin-left: 1in}
H3   {color:navy}
H4   {font-size: 14; text-decoration: underline}
P    {font-size: 14; text-indent: 3em; margin-left: .5in; margin-right: 1in}